html
  head(lang="es")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mi Pagina Web
    link(rel="stylesheet", href="/static/css/bootstrap.css")
  body
  include header.jade
  div.content
    block content
 include footer.jade
 script();
script(src="/static/js/botstrap.js");