form(action='/my-handling-form-page', method='post')
  div
    label(for='name') Nombres:
    input#name(type='text')
  div
    label(for='mail') Correo:
    input#mail(type='email')
  div
    label(for='msg') Mensage:
    textarea#msg
