form
  .form-row
    .form-group.col-md-6
      label(for='Nombre') Nombre
      input#inputEmail4.form-control(type='Nombre', placeholder='Nombre')
    
  .form-group
   .form-group.col-md-6
    label(for='Correo') Correo
    input#inputAddress.form-control(type='text', placeholder='...')
  .form-group
   .form-group.col-md-6
    label(for='Mensage') Mensage
    input#inputAddress2.form-control(type='text', placeholder='')
  
  