html
  head(lang="es")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mi Pagina Web
    link(rel="stylesheet", href="/static/css/bootstrap.css")
  body
    include header.jade
    div.content
      block content
    include footer.jade

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="/static/js/bootstrap.js")
